[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim\\pack\\vendor\\start\\lightline"]
	path = .vim\\pack\\vendor\\start\\lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim\\pack\\vendor\\start\\gitgutter"]
	path = .vim\\pack\\vendor\\start\\gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim\\pack\\vendor\\start\\fugitive"]
	path = .vim\\pack\\vendor\\start\\fugitive
	url = https://tpope.io/vim/fugitive.git
